@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('/assets/font/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('/assets/font/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('/assets/font/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('/assets/font/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--swiper-pagination-color: #FFFFFF;
	--swiper-theme-color: rgba(255, 255, 255, 0.4);
	--swiper-pagination-bullet-size: 15px;
	--swiper-pagination-bullet-horizontal-gap: 11px;
	--dark-gray: #333;
	--footer: #222;
	--btn-color: #FF9900;
	--btn-activ: #e1670e;
	--btn-pale: rgba(255, 153, 0, 0.7);
	--btn-grey: #666;
	--btn-black: #000;
	--white: #FFFFFF;
	--stroke: #CACACA;
	--border: #cacaca;
	--form-color: #414141;
	--font: 'Montserrat',  sans-serif

}

h1, h2, h3 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.flex {
	display: flex;
}

button {
	background-color: transparent;
	border: 0;
}

input::placeholder {
	color: var(--stroke);
}

textarea::placeholder {
	color: var(--stroke);
	/* padding-left: 27px;
	padding-top: 20px; */
}

textarea {
	resize: none;
}