html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.flex {
	display: flex;
}

@font-face {
	font-family: 'Montserrat-SemiBold.woff';
	src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
		url('/assets/font/Montserrat-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}