@media (max-width:1024px) {
    /* <------ ХЕДЕР / Заголовок сайта ------> */
    .nav__list {
        display: none;
    }

    .header {
        max-height: 83px;
    }

    .burger {
        cursor: pointer;
        position: relative;
        display: block;
        border: 1px solid transparent;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        color: var(--dark-gray);
        margin-left: 44px;
        margin-bottom: 16px;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        height: 3px;
        width: 30px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 7px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__line:nth-child(3) {
        bottom: 7px;
    }

    .header__logo {
        margin: 22px 0 14px -1px;
        width: 153px;
        align-items: center;
    }

    .header__search {
        margin-right: 28px;
        margin-top: -10px;
    }
    /* <---------- X ----------> */


    /* <------ РАЗДЕЛ ЗАКАЗЫ ------> */
    .order {
        max-width: 924px;
        margin-bottom: 80px;
    }
    
    .order__title {
        font-size: 60px;
        line-height: 75px;
        max-width: 770px;
        padding: 242px 0 0 84px;
    }

    .order__text {
        max-width: 660px;
        font-size: 20px;
        line-height: 24px;
        margin: 13px 0 0 84px;
    }

    .order__btn {
        min-width: 206px;
        min-height: 43px;
        font-size: 23px;
        margin: 60px 0 160px 85px;
    }
    /* <---------- X ----------> */
    
    
    /* <------ РАЗДЕЛ "О НАС" / "ABOUT US" ------> */
    .about-us {
        padding-right: 35px;
        padding-left: 49px;
        margin-bottom: 80px;
    }
    
    .about-us__title {
        margin-bottom: 14px;
    }

    .about-us__text {
        max-width: 925px;
        margin-bottom: 62px;
        line-height: 2.0;
    }

    .about-us__cards {
        flex-wrap: wrap;
    }

    .about-us__left {
        width: 100%;
        min-height: 641px;
    }

    .left__black-frame {
        min-height: 178px;
    }

    .left__text {
        margin: 0;
        padding-top: 31px;
        padding-left: 51px;
        max-width: 480px;
    }

    .left__btn {
        margin-top: 50px;
        margin-right: 48px;
    }

    .about-us__right {
        width: 100%;
    }

    .right__card {
        width: 100%;
        min-height: 295px;
        border: 1px solid var(--stroke);
    }

    .right__img {
        margin: 63px 0 65px 77px;
    }

    .right__info {
        padding: 65px 0 65px 317px;
    }
    /* <---------- X ----------> */


    /* <------ РАЗДЕЛ "РАСПИСАНИЕ" / "schedule" ------> */
    .schedule { 
        padding: 0 50px;
    }

    .schedule__title {
        margin-bottom: 53px;
    }

    .schedule__step {
        margin-left: -6px;
        margin-right: 77px;
    }

    .schedule__consultation {
        max-width: 924px;
        margin-top: 52px;
    }

    #tab-btn-1:checked ~ #content-1, 
    #tab-btn-2:checked ~ #content-2, 
    #tab-btn-3:checked ~ #content-3, 
    #tab-btn-4:checked ~ #content-4 {
        gap: 50px;
    }

    .consultation__text {
        margin-bottom: 24px;
    }

    .consultation__left-block {
        max-width: 437px;
    }
    /* <---------- X ----------> */


}