@media (max-width:1024px) {
    .nav__list {
        display: none;
    }

    .header {
        max-height: 100px;
    }

    .burger {
        cursor: pointer;
        position: relative;
        display: block;
        border: 1px solid transparent;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        color: var(--dark-gray);
        margin-left: 44px;
        margin-bottom: 1px;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        height: 3px;
        width: 30px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 7px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__line:nth-child(3) {
        bottom: 7px;
    }

    .header__logo {
        margin: 37px 0 14px -1px;
        width: 153px;
        align-items: center;
    }

    .header__search {
        margin-right: 28px;
        margin-top: 4px;
}