.container {
    max-width: 1920px;
    height: 100%;
}


/* <------ ХЕДЕР / Заголовок сайта ------> */
.header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.55);
}

.header__logo {
    margin: 14px 0 14px 75px;
    width: 224px;
    height: 72px;
}

.nav__list {
    align-items: center;
    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-gray);
    gap: 85px;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
}

.header__search {
    margin-right: 59px;
}
/* <---------- X ----------> */



/* <------ РАЗДЕЛ ЗАКАЗЫ ------> */
.order {
    justify-content: center;
}

.order__card {
    width: 1770px;
    justify-content: center;
    background: url(/assets/img/balconies.png);
    height: 100%;
    flex-direction: column;
    margin-left: 75px;
    margin-right: 75px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.order__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 86px;
    color: var(--white);
    width: 840px;
    height: 100%;
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.order__text {
    width: 800px;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
    margin-left: 80px;
    margin-bottom: 0;
    margin-top: 22px;
    font-family: 'Montserrat', sans-serif;
}

.order__btn {
    padding: 18px 37px;
	width: 280px;
	height: 78px;
    color: var(--white);
	background-color: #FF9900;
	font-weight: 700;
	font-size: 23.3px;
	text-align: center;
	border: 0;
	font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
    margin-left: 80px;
    margin-bottom: 55px;
}

.order__bullets {
    align-items: center;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}
/* <---------- X ----------> */



/* <------ РАЗДЕЛ "О НАС" / "ABOUT US" ------> */
.about-us {
    margin-top: 100px;
    height: 100%;
}
.about-us__title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    color: var(--dark-gray);
    margin-left: 77px;
    width: 141px;
    font-family: 'Montserrat', sans-serif;
}

.about-us__text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-gray);
    width: 1235px;
    margin-left: 75px;
    margin-top: 20px;
    line-height: 2.05;
    font-family: 'Montserrat', sans-serif;

}

.about-us__cards {
    margin-top: 50px;
    margin-left: 75px;
    gap: 32px;
}

.about-us__left-card {
    position: relative;
    width: 868px;
    height: 622px;
    background-image: url(/assets/img/Rectangle.svg);
}

.left-card__black-frame {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-image: url(/assets/img/Rectangle2.svg);
    fill: rgba(0, 0, 0, 0.5);
    width: 868px;
    height: 196px;
}

.left-card__text{
    width: 454px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
    margin: 50px 0 50px 50px;
}

.left-card__btn {
    position: absolute;
    bottom: 68px;
    right: 50px;
    border: 3px solid var(--btn-color);
    padding: 19px 38px;
    width: 175px;
    height: 60px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.about-us__right-cards {
    gap: 32px;
    flex-flow: column;
}

.about-us__two-card {
    width: 870px;
    height: 295px;
    border: 1px solid var(--stroke);
}

.two-card__img {
    background-image: url(/assets/img/cube.svg);
    background-size: cover;
    width: 190px;
    height: 165px;
    margin: 65px 0 65px 60px;
    position: absolute;
}

.two-card__info {
    position: relative;
    margin-top: 65px;
    margin-left: 300px;
}

.two-card__title {
    font-family: 'Montserrat', sans-serif;
    width: 452px;
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-gray);
    margin: 0;
}

.two-card__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    color: var(--dark-gray);
    width: 450px;
    line-height: 2;
}

.about-us__three-card {
    width: 870px;
    height: 295px;
    border: 1px solid var(--stroke);
}

.three-card__img {
    background-image: url(/assets/img/gear.svg);
    background-size: cover;
    position: absolute;
    width: 190px;
    height: 165px;
    margin: 65px 0 65px 60px;
}

.three-card__title {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-gray);
    width: 406px;
}

.three-card__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-gray);
    margin: 0;
    margin-top: 8px;
    width: 450px;
    line-height: 2;
}
/* <---------- X ----------> */



/* <------ РАЗДЕЛ "РАСПИСАНИЕ" / "schedule" ------> */
.schedule {
    width: 1772px;
}

.schedule__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: var(--dark-gray);
    width: 430px;
    margin: 0;
    margin-left: 75px;
    margin-top: 100px;
}

.schedule__steps {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-left: 75px;
    gap: 71px;
}

/* schedule__button */
.schedule__step {
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-gray);
}

.schedule__consultation {
    width: 1770px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 45px;
    margin-left: 75px;
    gap: 142px;
}

.consultation__left-block {
    width: 758px;
}

.consultation__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--dark-gray);
}

.consultation__text {
    margin: 0;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.consultation__btn {
    margin-top: 50px;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
}

.consultation__btn--details {
    padding: 20px 38px;
    width: 175px;
    background-color: var(--btn-color);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.consultation__btn--contract {
    border: 1px solid #333;
    padding: 20px 38px;
    width: 147px;
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.consultation__img {
    background-image: url(/assets/img/consultation.svg);
    width: 870px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}
/* <---------- X ----------> */