.container {
    max-width: 1920px;
    height: 100%;
}


/* <------ ХЕДЕР / Заголовок сайта ------> */
.header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
}

.header__logo {
    margin-left: 75px;
    width: 224px;
    height: 72px;
}

.nav__list {
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 600px;
    font-size: 18px;
    color: var(--dark-gray);
    gap: 85px;
    justify-content: flex-end;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.header__search {
    margin-right: 76px;
}
/* <---------- X ----------> */



/* <------ РАЗДЕЛ ЗАКАЗЫ ------> */
.order {
    justify-content: center;
}

.order__card {
    width: 1770px;
    justify-content: center;
    background: url(/assets/img/balconies.png);
    height: 100%;
    flex-direction: column;
}

.order__title {
    font-weight: 800px;
    font-size: 70px;
    line-height: 85px;
    color: var(--white);
    width: 840px;
    height: 100%;
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 0;
    font-family: 'Montserrat-ExtraBold', sans-serif;
}

.order__text {
    width: 800px;
    height: 100%;
    font-weight: 700px;
    font-size: 24px;
    color: var(--white);
    margin-left: 80px;
    margin-bottom: 0;
    margin-top: 24px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
}

.order__btn {
    padding: 18px 37px;
	width: 280px;
	height: 78px;
    color: var(--white);
	background-color: #FF9900;
	font-weight: 700px;
	font-size: 23px;
	text-align: center;
	border: 0;
	font-family: 'Montserrat-ExtraBold', sans-serif;
    margin-top: 90px;
    margin-left: 80px;
    margin-bottom: 55px;
}

.order__bullets {
    align-items: center;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}
/* <---------- X ----------> */



/* <------  ------> */
/* <---------- X ----------> */