.container {
    max-width: 1920px;
    height: 100%;
}


/* <------ ХЕДЕР / Заголовок сайта ------> */
.header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
}

.header__logo {
    margin-left: 75px;
    width: 224px;
    height: 72px;
}

.nav__list {
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-gray);
    gap: 85px;
    justify-content: flex-end;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.header__search {
    margin-right: 76px;
}
/* <---------- X ----------> */


/* <------ РАЗДЕЛ ЗАКАЗЫ ------> */
.order {
    width: 1770px;
    justify-content: flex-start;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/assets/img/balconies.png);
    height: 100%;
    flex-direction: column;
}

/* <---------- X ----------> */